{% extends "base.html.twig" %}

{% block body %}
    {% if products|length > 0 %}
        <h4>Available Products</h4>
        {% for product in products %}
                {{ include("product/product-short.html.twig", {"product": product}) }}
        {% endfor %}
    {% else %}
        It looks like there are no products available right now!
    {% endif %}
{% endblock %}