{% extends "base.html.twig" %}

{% block body %}
    {% if products|length > 0 %}
        <h4>Available Products</h4>
        <hr>
        <ul style="padding-left:0px">
        {% for product in products %}
            <li style="list-style-type:none; margin-bottom:30px; margin-top:30px">
                {{ include("product/product.html.twig", {"product": product , "isShortDesc": true}) }}
            </li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        It looks like there are no products available right now!
    {% endif %}
{% endblock %}