{% extends "base.html.twig" %}

{% block body %}
    {% if products|length > 0 %}
        <h4>Available Products</h4>
        <ul style="list-style-type:none">
        {% for product in products %}
            <li style="float:left">
                {{ include("product/product-short.html.twig", {"product": product}) }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        It looks like there are no products available right now!
    {% endif %}
{% endblock %}