{#<div class="media text-muted pt-3">#}
{#        <span class="d-block">#}
        <div class="border-primary" style="border: 30px;">
            <a href="{{ path('product_product', {'id': product.id }) }}">
            <ul>
                <small>
                    <li>Product: {{ product.name }}</li>
                    <li>Price: {{ product.price }}</li>
                    <li>By: {{ product.owner.username }}</li>
                </small>
            </ul>
            </a>
        </div>
{#        </span>#}
{#</div>#}